body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* div > div.col {
  background-color: bisque;
  border: 2px solid black;
} */

#lista {
  max-height: 50vh;
  overflow-y: auto;
}
.textError {
  width: 50%;
  margin: auto;
  font-size: x-small;
  text-align: center;
  color: red;
}
.textoCorrecto {
  font-size: x-small;
  text-align: center;
  color: rgb(71, 161, 73);
}
