body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.idBox {
  padding-left: 10px;
}

.infoBox {
  display: flex;
  flex-direction: row;
}

.descriptionBox {
  font-style: italic;
}

#lista {
  max-height: 50vh;
  overflow-y: auto;
}

.textError {
  width: 50%;
  margin: auto;
  font-size: x-small;
  text-align: center;
  color: red;
}
